.gpt3__header {
	display: flex;

	@media screen and (max-width: 1050px) {
		flex-direction: column;
	}

	&-content {
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		margin-right: 5rem;

		@media screen and (max-width: 1050px) {
			margin-right: 0;
		}

		h1 {
			font-family: var(--font-family);
			font-weight: 800;
			font-size: 62px;
			line-height: 75px;
			letter-spacing: -0.04em;
		}

		p {
			font-family: var(--font-family);
			font-size: 20px;
			line-height: 28px;
			color: var(--color-text);
			margin-top: 1.5rem;
		}

		&__input {
			width: 100%;
			margin: 2rem 0 1rem;
			display: flex;

			input {
				flex: 2;
				width: 100%;
				min-height: 50px;
				background: var(--color-footer);
				border: 2px solid var(--color-footer);
				border-radius: 5px 0px 0px 5px;
				font-family: var(--font-family);
				font-size: 20px;
				line-height: 27px;
				padding: 0 1rem;
				color: #fff;

				@media screen and (max-width: 650px) {
					font-size: 16px;
					line-height: 24px;
				}
				@media screen and (max-width: 490px) {
					font-size: 12px;
					line-height: 16px;
				}
			}

			button {
				flex: 0.6;
				width: 100%;
				min-height: 50px;
				font-family: var(--font-family);
				font-weight: bold;
				font-size: 20px;
				line-height: 27px;
				background: #ff4820;
				padding: 0 1rem;
				color: #fff;
				cursor: pointer;
				border-radius: 0px 5px 5px 0px;

				@media screen and (max-width: 650px) {
					font-size: 16px;
					line-height: 24px;
				}
				@media screen and (max-width: 490px) {
					font-size: 12px;
					line-height: 16px;
				}
			}
		}

		&__people {
			width: 100%;
			display: flex;
			gap: 1rem;
			justify-content: flex-start;
			align-items: center;
			margin-top: 2rem;

			@media screen and (max-width: 650px) {
				flex-direction: column;
				gap: 0;
			}

			img {
				width: 181.79px;
				height: 38px;
			}

			p {
				font-family: var(--font-family);
				font-weight: 500;
				font-size: 12px;
				line-height: 38px;
				color: #ffffff;
				margin-top: 0;
			}
		}
	}

	h1 {
		@media screen and (max-width: 650px) {
			font-size: 48px;
			line-height: 60px;
		}
		@media screen and (max-width: 490px) {
			font-size: 36px;
			line-height: 48px;
		}
	}

	p {
		@media screen and (max-width: 650px) {
			font-size: 16px;
			line-height: 24px;
		}
		@media screen and (max-width: 490px) {
			font-size: 14px;
		}
	}

	&-image {
		flex: 1;
		display: flex;
		justify-content: center;
		align-items: center;

		img {
			width: 100%;
			// height: 100%;
		}
	}
}
